{#
# -------------------------------------------------------------------------
# Autoexportsearches plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Autoexportsearches.
#
# Autoexportsearches is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Autoexportsearches is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Autoexportsearches. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2026-2026 by Autoexportsearches plugin team.
# @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
# @link      https://github.com/InfotelGLPI/Autoexportsearches
# -------------------------------------------------------------------------
#}

<div class="center">
   <table class="tab_cadre" cellpadding="5" height="150">
      <tr>
         <th colspan="6">{{ type_name }}</th>
      </tr>
      {% if types is empty %}
         <tr>
            <td class="center tab_bg_1" colspan="6">
               {{ __('No export files available', 'autoexportsearches') }}
            </td>
         </tr>
      {% else %}
         {% set chunk_size = 3 %}
         {% for chunk in types|batch(chunk_size) %}
            <tr>
               {% set count = chunk|length %}
               {% set colspan = count == 1 ? 6 : (count == 2 ? 3 : 2) %}
               {% for type in chunk %}
                  <td class="center" colspan="{{ colspan }}">
                     <a href="{{ base_url }}?type={{ type|url_encode }}">
                        <i class="fas fa-folder-open fa-4x"></i>
                        <br>{{ type }}
                     </a>
                  </td>
               {% endfor %}
            </tr>
         {% endfor %}
      {% endif %}
   </table>
</div>
